.kukkoro-sidebar {
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
  z-index: 1000001;
  position: fixed;
  overflow-y: visible;
  border-right: 1px solid rgb(221, 221, 221);
  transition: transform 0.2s ease;
  width: 200px;
}

.kukkoro-item {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
